@tailwind base;
@tailwind components;
@tailwind utilities;

.cake-page {
  padding: 80px 20px;
}

.cake-card {
  width: 22%;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

.cake-list {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.cake-image {
  width: 100%;
  max-height: 150px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.cake-details {
  padding: 10px;
}

@media screen and (max-width: 700px) {
  .cake-card {
    width: 45%;
    margin: 5px;
  }
}
