@tailwind base;
@tailwind components;
@tailwind utilities;

.cart-page {
  width: 100%;
  padding: 70px 30px 30px 30px;
  display: flex;
  max-height: 100vh;
}

.cart-container {
  min-height: 90vh;
}

.cart-left {
  flex: 1;
  height: auto;
  overflow-y: auto;
  max-height: 90vh;
  width: 70%;
}

.cart-address {
}

.bill-container {
  width: 30%;
  height: auto;
}
.price-details {
  width: 95%;
  align-items: center;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 10px;
  margin: 30px 5px;
  background-color: #cfcfcf;
}

.cart-total {
  width: 95%;
  height: auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: flex-start;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
}

.cart-total p {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
}

.total-price-p {
  font-size: medium;
}

.total-price-cart {
  font-weight: bold;
  font-size: large;
  margin-top: 20px;
}

.order-button {
  width: 95%;
  height: auto;
  padding: 15px;
  border-radius: 15px;
  margin: 10px;
  font-size: 1.3em;
  font-weight: 600;
  background-color: rgb(255, 166, 0);
}

.order-button-green {
  width: 95%;
  height: auto;
  padding: 15px;
  border-radius: 15px;
  margin: 10px;
  font-size: 1.3em;
  font-weight: 600;
  color: white;
  background-color: #49a316;
}

.order-button:hover {
  background-color: rgb(255, 136, 0);
}

.free {
  color: #49a316;
}

.cart-item-card {
  background-color: #fff; /* White background for the modal content */
  width: 95%; /* 60% of the viewport width */
  height: auto; /* 60% of the viewport height */
  display: flex;
  flex-direction: row; /* Content side-by-side */
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

.cart-item-card img {
  width: 25%;
  object-fit: cover;
  max-height: 100%;
}

.order-item-card img {
  width: 35%;
  object-fit: cover;
  max-height: 100%;
}

.order-item-card header {
  padding: 20px 40px;
  flex: 1; /* Share remaining space equally */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.cart-item-card header {
  padding: 20px 40px;
  flex: 1; /* Share remaining space equally */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.item-name {
  font-size: 2em;
  font-weight: bolder;
}

.rupee-sign-cart,
.price-cart {
  font-size: 30px;
}

.pounds-text-cart {
  float: right;
  margin-bottom: 5px;
  font-size: 20px;
  margin-top: 10px;
}

.pounds-cart {
  float: right;
}

.pound-options-cart button {
  float: right;
  width: 40px;
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 5px;

  font-size: 25px;
  font-weight: 400;
  background-color: #ffd1da;
  margin-bottom: 10px;
}

.pound-options-cart button:hover {
  background-color: #fba1b7;
}

.message-cart {
  font-family: Verdana, sans-serif, "Segoe UI", Tahoma, Geneva;
  height: auto;
  width: 60%;
  padding: 15px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 20px;
  margin-top: 10px;
}

.flavour-text-cart {
  width: 80%;
  float: left;
}

.add-cart-button {
  height: 40px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 500;
  background-color: #ffa41b;
  transition: background-color 0.3s ease; /* Animation duration and easing */
}

.remove-button-cart {
  height: auto;
  border-radius: 5px;
  padding: 5px;
  font-size: 20px;
  font-weight: 500;
  background-color: rgb(255, 255, 255);
  transition: background-color 0.3s ease; /* Animation duration and easing */
}

.rating-cart {
  width: 70%;
}

.remove-button-cart:hover {
  background-color: #f60000;
  color: white;
}
.add-cart-button.clicked {
  background-color: #49a316;
  color: #ffffff;
}

.add-cart-button.clicked:hover {
  background-color: #328104;
}

.added-text {
  text-align: center;
  padding: 10px;
}

.rating-box-cart {
  float: left;
  background: #49a316;
  background-position: 0% 0%;
  background-repeat: no-repeat;
  padding: 0px 10px 5px 10px;
  border-radius: 4px;
}

.rating-text-cart {
  color: #ffffff;
  font-size: 14px;
}

.pounds-cart {
  float: right;
}

.starForProduct-cart {
  color: white;
  margin-left: 5px;
}

.price-cart {
  font-weight: 700;
  margin-left: 5px;
}

.flavour-pounds-cart {
  display: flex;
  justify-content: space-between;
}

.price-box-cart {
  float: right;
}

.message-heading {
  font-size: 15px;
  color: #328104;
}

.message-text {
  font-size: 12px;
}

.cart-p-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 15px;
}

.cart-p-card {
  width: 45%;
  height: auto;
  border-radius: 12px;
  display: flex;
  margin: 10px 0px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cart-p-img {
  width: 30%;
  max-height: 100%;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  overflow: hidden;
}

.cart-p-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cart-p-content {
  padding: 16px;
  padding-right: 24px;
  display: flex;
  width: 70%;
  flex-direction: column;
  justify-content: space-between;
}

.cart-p-content h3 {
  margin-bottom: 8px;
}
.cart-p-content p {
  color: gray;
}

.cart-p-rate {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-p-rate button {
  padding: 6px;
  background-color: white;
  border-radius: 5px;
}

.cart-p-rate button:hover {
  background-color: red;
  color: white;
}

.cart-p-quantity {
  margin-left: auto;
  margin-bottom: 20px;
  font-size: medium;
}

.address-data {
  padding: 20px 30px;
  background-color: #efefef;
  width: 95%;
  margin: 10px 5px;
  border-radius: 12px;
}

.address-data-selected {
  padding: 20px 30px;
  background-color: #efefef;
  width: 95%;
  margin: 10px 5px;
  border-radius: 12px;
  display: flex;
  gap: 10px;
  align-items: flex-start;
}

.payment-data-selected {
  padding: 30px 30px;
  background-color: #efefef;
  width: 95%;
  margin: 10px 5px;
  border-radius: 12px;
  display: flex;
  gap: 10px;
  align-items: flex-start;
  flex-direction: column;
}

.payment-data-selected label {
  display: flex;
  width: 100%;
}
.payment-data-selected input {
  width: auto;
  margin-right: 20px;
  margin-left: 10px;
}

.address-data-selected input {
  font-size: medium;
  padding: 12px 20px 5px 12px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 20px;
  width: auto;
}

.label-address {
  display: flex;
  font-weight: 600;
  gap: 10px;
  margin-bottom: 10px;
}

.address-name {
  margin-right: 20px;
}

.text-address {
  font-size: small;
  display: flex;
  gap: 10px;
}

.new-address-button {
  color: #2874f0;
  font-weight: 600;
  font-family: sans-serif;
}

.address-data select {
  font-size: medium;
  padding: 12px 20px 5px 12px;
  margin-bottom: 30px;
  margin-left: 30px;
  width: 30%;
  /* border-radius: 5px; */
}

.address-data input {
  font-size: medium;
  padding: 12px 20px 5px 12px;
  margin-bottom: 30px;
  margin-left: 30px;
  width: 30%;
}

.address-inputs {
  margin: 30px 0px 20px;
}

.save-address {
  padding: 15px 30px;
}

.save-address button {
  height: auto;
  padding: 12px 32px;
  font-size: medium;
  /* border-radius: 10px; */
}

.save-address-b {
  background-color: #2874f0;
  color: white;
  margin-right: 30px;
  font-weight: 600;
}

/* Add more styles 
as needed for other content elements */

@media only screen and (max-width: 700px) {
  .cart-container {
    width: 100%;
  }
  .bill-container {
    width: 100%;
  }
  .cart-page {
    flex-direction: column;
    padding: 70px 10px;
  }

  .cart-p-card {
    width: 100%;
  }

  .cart-item-card {
    margin-top: 20px;
  }

  .cart-item-card header {
    padding: 10px;
  }

  .item-name {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .rating-text-cart {
    color: #ffffff;
    font-size: 10px;
    margin: 0px;
  }

  .starForProduct-cart {
    font-size: 10px;
    margin: 0px;
    margin-left: 5px;
  }

  .flavour-text-cart {
    font-size: 15px;
    width: 80%;
  }

  .rating-box-cart {
    padding: 0px 5px 2px 5px;
  }

  .remove-button-cart {
    font-size: 12px;
  }

  .cart-item-card img {
    width: 32%;
  }

  .price-details {
    margin: 10px 5px 10px 5px;
  }

  .rupee-sign-cart,
  .price-cart {
    font-size: 20px;
    margin-right: 5px;
  }
  .pounds-text-cart {
    font-size: 15px;
    margin-right: 5px;
  }
  .pound-options-cart button {
    width: 30px;
    margin-right: 5px;
    font-size: 25px;
    font-weight: 400;
    background-color: lightpink;
  }
  .message-cart {
    height: auto;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 10px;
  }

  .bill-container {
    margin: 50px 0px 0px 0px;
  }
  .cart-left {
    width: 100%;
    height: auto;
    overflow-y: visible;
    max-height: none;
  }
  .cart-container {
    min-height: none;
    margin-bottom: 50px;
    padding-top: 40px;
  }

  .address-data {
    padding: 10px 15px;
  }

  .address-inputs {
    display: flex;
    flex-direction: column;
  }

  .address-data select {
    font-size: small;
    padding: 10px 10px 5px 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    width: 80%;
  }
  .address-data input {
    font-size: small;
    padding: 10px 10px 5px 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    width: 80%;
  }
  .name-input {
    width: 80%;
  }
  .save-address {
    padding: 15px 10px;
    display: flex;
  }

  .save-address button {
    height: auto;
    padding: 10px 20px;
    font-size: smaller;

    /* border-radius: 10px; */
  }
  .save-address-b {
    margin-right: 10px;
  }
}
