@import url("https://fonts.googleapis.com/css2?family=Averia+Libre&family=Bungee+Inline&family=Inclusive+Sans&family=Patua+One&family=Poppins&family=Red+Hat+Display:wght@500&family=Roboto+Slab&display=swap");

.home {
  /* background-image: url("https://r4.wallpaperflare.com/wallpaper/639/747/795/balloons-birthday-colorful-cake-wallpaper-7f7498261768117966b0061ce9cd3fa0.jpg"); */
  background-image: url("./purple-back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  padding: 180px 50px 100px 100px;
  height: 140vh;
  width: 100%;
  font-weight: 500;
  color: #3d246c;
  background-size: 115%;
  background-position-x: right;
}

.hero-home {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  backdrop-filter: blur(5px);
}

.shop-name {
  flex: 0 0 auto; /* Don't allow the image container to grow or shrink */
  font-size: 110px;
  font-family: "Patua One", cursive;
  color: #ae82ff;
  text-shadow: 0 3px 5px black;
}

.bakers-container {
  margin-top: 20px;
  display: flex;
  font-size: 37px;
  align-items: flex-start;
  text-align: left;
  color: wheat;
  text-shadow: 0 0 2px black;

  font-weight: 500;
  font-family: "Roboto Slab", serif;
}

.bakers-text {
  padding-left: 10px;
  color: #ff6000;
  font-weight: 600;
}

@media screen and (max-width: 700px) {
  .hero-home {
    width: 100%;
    margin-top: 20px;
    align-items: center;
    text-align: center;
    height: fit-content;
  }
  .bakers-text {
    padding: 0px 0px 0px 5px;
    font-size: 18px;
    height: 80px;
  }
  .img-container {
    padding: 10px 0 0 5px;
    font-size: 60px;
  }
  .bakers-container {
    margin-top: 10px;
    font-size: 18px;
    align-items: flex-start;
    text-align: left;
    color: black;
    text-shadow: 0 0 0px black;

    font-weight: 400;
    font-family: "Roboto Slab", serif;
  }

  .shop-name {
    font-size: 65px;
    text-shadow: 0 0 0px black;
    color: #3d246c;
    font-weight: 300;
  }

  .home {
    /* background-image: url("https://images.unsplash.com/photo-1613140952277-1c6bd0386ff5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80"); */
    background-image: url("https://images.unsplash.com/photo-1551404973-7dec6ee9bba7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80");
    padding: 80px 0 100px 0px;
    background-position: 50%;
    background-size: 100;
    height: 97vh;
  }
}
