.home2 {
  height: auto;
  background-color: white;
}

.part1 {
  background: linear-gradient(
    101.9deg,
    rgb(253, 183, 220) 25%,
    rgb(240, 213, 190) 38.1%,
    rgb(249, 240, 206) 55.5%,
    rgb(253, 244, 210) 67.3%,
    rgb(222, 248, 226) 85.2%,
    rgb(200, 247, 242) 103.6%
  );

  width: 100%;
  height: auto;
  /* border-radius: 15px; */
  padding: 60px 10px;
}

.heading {
  text-align: center;
  padding: 20px 30px;
  color: #3d246c;
  margin: 20px 20px 40px 20px;
  font-size: 20px;
}

.flavour-cards {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 0px 30px;

  /* Add negative margin to counteract the margin of flavour-card */
}

.flavour-card {
  width: 22%;
  height: auto;
  padding: 15px; /* Add padding to create space between cards */
  box-sizing: border-box;
  text-decoration: none;
  overflow: hidden;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(10px);

  /* Include padding in width calculation */
}

.flavour-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.card-image {
  overflow: hidden;
  border-radius: 10px;
}

.flavour-card img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.flavour-card:hover img {
  transform: scale(1.1);
}

.flavour-title {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 20px;
  font-weight: bold;
  color: #3d246c;
  text-decoration-style: none;
  font-size: 25px;
  text-decoration: none;
}

.part2 {
  background: radial-gradient(
    283px at 1.7% 8.6%,
    rgb(141, 254, 235) 0%,
    rgb(232, 176, 254) 90%
  );

  /* background: radial-gradient(circle at 10% 20%, rgb(222, 168, 248) 0%, rgb(168, 222, 248) 21.8%, rgb(189, 250, 205) 35.6%, rgb(243, 250, 189) 52.9%, rgb(250, 227, 189) 66.8%, rgb(248, 172, 172) 90%, rgb(254, 211, 252) 99.7%);  width: 100%; */
  height: auto;
  padding: 60px 10px;
}

.occ-cards {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 0px 60px;
  /* Add negative margin to counteract the margin of flavour-card */
}

.occ-card {
  width: 50%;
  height: auto;
  padding: 10px; /* Add padding to create space between cards */
  box-sizing: border-box;
  text-decoration: none;

  /* Include padding in width calculation */
}

.occ-card:hover img {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
  z-index: 1;
}

.occ-card img {
  max-width: 100%; /* Ensure images fit within the card width */
  max-height: 400px; /* Maintain aspect ratio */
  display: block; /* Remove any extra spacing below the image */ /* Center align the images horizontally */
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease;
}

.occ-title {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: bold;
  color: #3d246c;
  text-decoration-style: none;
  font-size: 30px;
  text-decoration: none;
}

@media screen and (max-width: 700px) {
  .flavour-card {
    width: 48%;
  }
  .flavour-title {
    font-size: 15px;
    margin-bottom: 10px;
  }
  .flavour-cards {
    padding: 0px;
  }
  .occ-card {
    width: 100%;
    padding: 0px;
  }

  .heading {
    font-size: 16px;
    padding: 10px;
  }
}

.footer {
  background-color: #3d246c;
  padding: 150px 40px 20px 40px;
  height: auto;
  color: bisque;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.footer-content-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: auto;
  padding: 10px 10px 70px;
  color: #ffdbc3;
  gap: 15px;
}
.footer-content-div a {
  text-decoration: none;
  color: #c9a68e; /* Use the default color */
}

.icon-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  /* padding: 20px; */
}

.social-icons {
  color: #ffdbc3;
}

.auther {
  background-color: #3d246c;
  color: #c9a68e;
  text-align: center;
  padding: 20px;
}
