.navitems.sticky {
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
}

.navitems.show {
  transform: translateY(0);
}

.navitems {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  background: #3d246c;
  border-radius: 10px;
  width: 95%;
  height: auto;
  padding: 20px 30px;
  top: 2px;
  font-size: 1.3rem;
  left: 2.5%;
  right: 2.5%;
  z-index: 99;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  list-style: none;
  gap: 20px;
  align-items: center;
  text-align: center;
  width: 90%;


}

.nav-links {

  text-decoration: none;
  color: #ffdbc3;
  display: flow;
  flex-wrap: wrap;
  position: relative;


}



.nav-links i {
  padding-right: 10px;

}

.nav-links:hover {
  color: #ffdbc3;
  text-shadow: 0 0 4px #ffdbc3;
}

.nav-links:hover .dropdown{
  display: flex;
  flex-direction: column;
}

.fa-times,
.fa-bars {
  color: #ffdbc3;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 700px) {
  .navitems {
    z-index: 99;
  }

  .navitems{
    padding: 10px ;
    font-size: 1rem;
  }
  /* .nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #3d246c;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    top: 0;
    width: 100%;
    height: auto;
    position: absolute;
    left: -110%;
    padding: 80px 0px 40px 0;
    align-items: stretch;
    z-index: -1;
    transition: all 0.3s ease-in-out;
  } */

  .nav-links {
    display: block;

  }

  .menu-icon {
    display: block;
  }
}

/* .nav-menu.active {
  left: 0%;
} */

/* Add this CSS to your existing styles */


.dropdown {
  display: none;
  padding: 10px;
  position: absolute;
  top: 100%;
  color: #ffdbc3;
  left: 50%; /* Center horizontally relative to the parent */
  transform: translateX(-50%); /* Adjust horizontally to center */
  background: #3d246c;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1;
  list-style: none;
  border-radius: 10px;


}

.dropdown-items{
  padding: 10px 20px;
  color: #ffdbc3;
  text-decoration: none;
  text-shadow: none;

}

.dropdown-items:hover{
  text-shadow: 0 0 4px #ffdbc3;


}

