.search-bar {
  display: flex;
  align-items: center;
  text-align: center;
  width: 70%;
}

.search-icon {
  margin: 10px 20px;
  color: gray;
}

.search-bar input {
  border: none;
  outline: none;
  font-size: 1.3rem;
  background: transparent;
}
