.search-bar {
  display: flex;
  align-items: center;
  text-align: center;
  width: 70%;
}

.search-icon {
  margin: 10px 15px;
  color: rgb(88, 88, 88);
}

.search-bar input {
  border: none;
  outline: none;
  font-size: 1.3rem;
  background:transparent;
}

.search-bar input::placeholder{
  color: rgb(88, 88, 88);
}


